.best_gears_container {
    width: 375px;
    margin: auto;
    padding: 24px;
    text-align: center;

    @for $i from 1 through 3 {
        :nth-child(3n + #{$i}) {
            margin: 16px 0px;

        }
    }



    p {
        // opacity: 0.5;
    }
}