.thumb_catagory{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .catagories{
        width: 100%;
        padding: 0 24px 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .catagory_image{
            width: 35%;
            transform: translateY(70px);
        }
        .catagory_text{
            width: 100%;
            height: 167px; 
            border: 0;
            border-radius: 8px;
            padding-bottom: 10px;       
            background-color: var(--white-L);
        
        
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        
    }


}